*{
  padding:0;
  margin:0;
 
}
html{
  color: blue;
}
.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

.test-enter-active, .test-leave-active {
  transition: all 1.5s;
  font-size:12px;

}
.test-enter, .test-leave-active {
  opacity: 0;
  font-size:20px;
}